ul[role="tree"]{
  background-color: #fbd5d5;
  border-radius:10px;
}

ul[role="tree"] > div > li > ul{
  background-color: #fffac5;
  border-radius:10px;
}

#root > div > ul > div > li > ul > div > div > div > li > ul{
  background-color: #d3dbfd;
  border-radius:10px;
}

#root > div > ul > div > li > ul > div > div > div > li > ul > div > div > div > li > ul{
  background-color: #dbfdd3;
  border-radius:10px;
}

input{
  border-radius:10px;
}
